div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* Estilo para el fondo del modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Mantener el modal en la pantalla */
  z-index: 1; /* Asegurarse de que el modal esté por encima de otros contenidos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Agregar scroll si el contenido es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo translúcido */
}

/* Estilo para el contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrar el modal en la pantalla */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
  max-width: 600px; /* Ancho máximo del modal */
}

/* Estilo para el botón de cerrar */
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cerrar2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar2:hover,
.cerrar2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.cerrar3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar3:hover,
.cerrar3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cerrar4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar4:hover,
.cerrar4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cerrar5 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar5:hover,
.cerrar5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cerrar6 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar6:hover,
.cerrar6:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
